/* 테이블 스타일 */
.table {
  max-width: 70%; /* 테이블 너비를 화면 너비에 맞춤 */
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.table th {
  background-color: #A9A9A9; /* 연한 회색 */
  padding: 8px;
  text-align: center;
  border-color: white;
}

.table td {
  background-color: white;  /* 흰색 */
  padding: 8px;
  text-align: center;
  word-wrap: break-word;
  border-color: white;
}

.table input[type="number"] {
  width: 30px;
  text-align: left;
}

/* 하이라이트 행 */
.highlight-row {
  background-color: #e8f8ff; /* 하이라이트 색상 */
  font-weight: bold;
}